@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  
    body{
        background-image: linear-gradient(to top, #87CEEB, #F0FFFF);
    }
  
    #Login {
    width: 90vw;
  }

  .img {
    float: left;
    width: 30%;
    height: 100%;
  }

  #formulario {
    float: right;
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
   body{
    background-image: linear-gradient(to top, #87CEEB, #F0FFFF);
   }
  
    #Login {
    width: 990px;
  }

  .img {
    background-position: center bottom;
    float: left;
    width: 50%;
    height: 100%;
  }

  #formulario {
    float: right;
    width: 50%;
  }
}
